modules/custom/os2web_acadre_esdh/plugins/cp/file_transfer/FormpipeOMDestinationSystemFileService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://formpipe.com/ip/om" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FormpipeOMDestinationSystemFileService" targetNamespace="http://formpipe.com/ip/om" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="!endpointurl?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://formpipe.com/ip/om/Imports">
      <xsd:import schemaLocation="!endpointurl?xsd=xsd0" namespace="http://formpipe.com/ip/om" />
      <xsd:import schemaLocation="!endpointurl?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="!endpointurl?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Formpipe.IP.OM.DestinationSystemFileTransfer" />
      <xsd:import schemaLocation="!endpointurl?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFormpipeOMDestinationSystemFileService_ReturnFileTransferRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnFileTransferRequest" />
  </wsdl:message>
  <wsdl:message name="IFormpipeOMDestinationSystemFileService_ReturnFileTransferRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnFileTransferRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFormpipeOMDestinationSystemFileService_FileTransferEnd_InputMessage">
    <wsdl:part name="parameters" element="tns:FileTransferEnd" />
  </wsdl:message>
  <wsdl:message name="IFormpipeOMDestinationSystemFileService_FileTransferEnd_OutputMessage">
    <wsdl:part name="parameters" element="tns:FileTransferEndResponse" />
  </wsdl:message>
  <wsdl:portType name="IFormpipeOMDestinationSystemFileService">
    <wsdl:operation name="ReturnFileTransferRequest">
      <wsdl:input wsaw:Action="http://formpipe.com/ip/om/IFormpipeOMDestinationSystemFileService/ReturnFileTransferRequest" message="tns:IFormpipeOMDestinationSystemFileService_ReturnFileTransferRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://formpipe.com/ip/om/IFormpipeOMDestinationSystemFileService/ReturnFileTransferRequestResponse" message="tns:IFormpipeOMDestinationSystemFileService_ReturnFileTransferRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FileTransferEnd">
      <wsdl:input wsaw:Action="http://formpipe.com/ip/om/IFormpipeOMDestinationSystemFileService/FileTransferEnd" message="tns:IFormpipeOMDestinationSystemFileService_FileTransferEnd_InputMessage" />
      <wsdl:output wsaw:Action="http://formpipe.com/ip/om/IFormpipeOMDestinationSystemFileService/FileTransferEndResponse" message="tns:IFormpipeOMDestinationSystemFileService_FileTransferEnd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="FormpipeOMDestinationSystemFileService">
    <wsdl:port name="BasicHttpBinding_IFormpipeOMDestinationSystemFileService" binding="i0:BasicHttpBinding_IFormpipeOMDestinationSystemFileService">
      <soap:address location="!endpointurl" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
